//COLORS
$color-grey-dark4: #666;
$color-white: #ffffff;
$color-grey-light: #f1f1f1;
$color-grey-lightest-1: #e0e0e0;
$color-grey-dark: #9b9b9b;
$color-grey-shade: rgba(0, 0, 0, 0.38);
$color-grey-shade-1: rgba(0, 0, 0, 0.6);
$color-blue-3: #0095da;
$color-grey-shade-3: rgba(0, 0, 0, 0.87);
